{% include "components/go_back.html" %}
<div class="row justify-content-center">
  <div class="col col-lg-6">
    <h2>{% if code_title %}{{ code_title }}{% else %}Lusjifer{% endif %}</h2>
    <small class="text-muted">Riddle me this.</small>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="col-10 col-lg-6 riddle-1">
    <div id="riddle-1">
      <p>Riddle1</p>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-10 col-lg-6 riddle-2">
    <div id="riddle-2">
      <p>Riddle 2</p>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-10 col-lg-6 riddle-3">
    <div id="riddle-3">
      <p>Riddle 3</p>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-10 col-lg-6 riddle-4">
    <div id="riddle-4">
      <p>Riddle 4</p>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-10 col-lg-6 riddle-5">
    <div id="riddle-5">
      <p>Riddle 5</p>
    </div>
  </div>
</div>