{% include "components/go_back.html" %}
<div class="row justify-content-center">
  <div class="col col-lg-6">
    <h2>{% if code_title %}{{ code_title }}{% else %}El Brocco!{% endif %}</h2>
    <small class="text-muted">Those who seek, shall find.</small>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="col col-lg-6">
    <div class="text-center riddle-box pt-2">
      <p>Enclosed by walls four, not outside your door.</p>
      <p>Hidden from sight, yet red in color bright.</p>
      <p>Neither seven nor nine, but somewhere in between is fine.</p>
      <p>Once found they'll show, the next code to know</p>
      <p>But unlike a hoarder, you'll first have to put them in order.</p>
    </div>
  </div>
</div>
{% with value=code %}
  {% include "components/hint.html" %}
{% endwith %}