{% include "components/go_back.html" %}
<div class="row justify-content-center">
  <div class="col col-lg-5">
    <h2>{% if code_title %}{{ code_title }}{% else %}Lusjifer{% endif %}</h2>
    <small class="text-muted">Riddle me this...</small>
  </div>
  <div class="col-4 col-sm-3 col-md-2 col-lg-1 mt-2">
    <a id="reset-riddles" href="" class="button bi-arrow-counterclockwise" onclick="reset_riddles()"><span
        class="pl-1">Reset</span></a>
  </div>
</div>
<div id="riddle-container" class="flip-box mt-5">
  <div class="flip-box-inner">
    <div class="flip-box-front">
      {% with riddle_text='What building has the most stories?', riddle_id='1', next_riddle_id='2' %}
        {% include "components/riddle.html" %}
      {% endwith %}
      {% with riddle_text='What is so delicate that saying its name breaks it?', riddle_id='2', next_riddle_id='3' %}
        {% include "components/riddle.html" %}
      {% endwith %}
      {% with riddle_text='I\'m the beginning of eternity, the end of time and space, the beginning of every end, and the end of every place.', riddle_id='3', next_riddle_id='4' %}
        {% include "components/riddle.html" %}
      {% endwith %}
      {% with riddle_audio='riddle-4-audio', riddle_id='4', next_riddle_id='5' %}
        {% include "components/riddle.html" %}
      {% endwith %}
      {% with riddle_text='Thirty white horses on a red hill. First they champ, then they stamp, then they stand still.', riddle_id='5' %}
        {% include "components/riddle.html" %}
      {% endwith %}
    </div>
    <div class="flip-box-back">
      <div class="row justify-content-center">
        <div id="last-riddle" class="col-10 col-lg-6">
          <div class="text-center">
            <p>One last riddle to find your next code.</p>
            <h4>What am I?</h4>
          </div>
          <img src="{{url_for('static', filename='img/mystery/rb/raccoon.png')}}" class="img-fluid" alt="raccoonbabushka">
        </div>
      </div>
    </div>
  </div>
</div>