{% with col_width='10' %}
  {% include "components/go_back.html" %}
{% endwith %}
<div class="row justify-content-center">
  <div class="col col-lg-10">
    <h2>{% if code_title %}{{ code_title }}{% else %}Babushka Raccoon{% endif %}</h2>
    <small class="text-muted">You're going on a small adventure!</small>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="col col-lg-10">
    <img src="{{url_for('static', filename='img/mystery/cafe-rene-edges.jpg')}}" class="img-fluid" alt="cafe-rene">
  </div>
</div>
{% with value=code %}
  {% include "components/hint.html" %}
{% endwith %}